<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mybatiscrud.mapper.CourseMapper">

	<!-- serach all data account for pagination-->
	<select id="count" resultType="Long">
		SELECT count(*) from course
	</select>

	<select id="serachAccountTotal" resultType="Long"> select count(*) from
		course <where>
			<if test="name != null and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="start_date != null">
				and start_date >= #{start_date}
			</if>
			<if test="end_date != null">
				and end_date >= #{end_date}
			</if>
		</where>
	</select>
	<select id="find" resultType="com.mybatiscrud.model.Course"> select * from
		course
	</select>
	<insert id="insert">
		insert into
		course(name,start_date,end_date,duration,fees,color,available,course_img)
		values(#{name},#{start_date},#{end_date},#{duration},#{fees},#{color},#{available},#{course_img})
	</insert>
     <update id="update">
		update course set name =#{name}, group_name =#{group_name},start_date=#{start_date}, end_date=#{end_date},
		duration =#{duration},fees=#{fees},color=#{color},available=#{available},course_img =#{course_img} where id =#{id}
	 </update>
	<select id="edit" resultType="com.mybatiscrud.model.Course">
		select * from course where id = #{id}
	</select>

	<!--  Search -->

	<select id="search" resultType="com.mybatiscrud.model.Course"> select * from
		course <where>
			<if test="name != null and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="start_date != null">
				and start_date >= #{start_date}
			</if>
			<if test="end_date != null">
				and end_date >= #{end_date}
			</if>
		</where>
	</select>
	<!-- Serach Click -->
	<select id="paginationClickAccount" resultType="Long"> select count(*) from
		course <where>
			<if test="name != null and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="start_date != null">
				and start_date >= #{start_date}
			</if>
			<if test="end_date != null">
				and end_date >= #{end_date}
			</if>
		</where>
	</select>

	<select id="paginationClick" resultType="com.mybatiscrud.model.Course">
		select * from course <where>
			<if test="name != null and name != ''">
				AND name LIKE CONCAT('%', #{name}, '%')
			</if>
			<if test="start_date != null">
				and start_date >= #{start_date}
			</if>
			<if test="end_date != null">
				and end_date >= #{end_date}
			</if>
		</where>
	</select>

	<!--  CSV 
	<select id="csv" resultMap="courseMap">
		select course.id,course.name,course.start_date,course.end_date,
		module.course_id, module.named
		from course inner join module on course.id = module.id
		where course.id = #{id}
	</select>
	<resultMap id="courseMap" type="com.mybatiscrud.model.Course">
		<id property="id" column="id" />
		<result property="name" column="name " />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<collection property="module" ofType="com.mybatiscrud.model.Module">
			<result property="id" column="id" />
			<result property="course_id" column="course_id" />
			<result property="name" column="named" />
		</collection>
	</resultMap>
	-->


	<!-- CSV TEST -->

	<select id="csvTest" resultMap="courseMap">
		SELECT course.id AS course_id, course.name AS course_name, t1.module_id,
		t1.module_name, t1.teacher_id, t1.teacher_name
		FROM course
		LEFT JOIN (
		SELECT module.id AS module_id, module.name AS module_name, teacher.id AS
		teacher_id, teacher.name AS teacher_name, module.course_id
		FROM module
		LEFT JOIN teacher ON module.id = teacher.module_id
		) t1 ON course.id = #{id};

	</select>
	<resultMap id="courseMap" type="com.mybatiscrud.model.Course">
		<id property="id" column="course_id" />
		<result property="name" column="course_name" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<collection property="module" ofType="com.mybatiscrud.model.Module"
			resultMap="module"></collection>
	</resultMap>

	<resultMap id="module" type="com.mybatiscrud.model.Module">
		<id property="id" column="module_id" />
		<result property="course_id" column="course_id" />
		<result property="name" column="module_name" />
		<collection property="teacher" ofType="com.mybatiscrud.model.Teacher"
			resultMap="teacher"></collection>
	</resultMap>

	<resultMap id="teacher" type="com.mybatiscrud.model.Teacher">

		<id property="id" column="teacher_id" />
		<result property="name" column="teacher_name" />
		<result property="module_id" column="module_id" />
	</resultMap>

</mapper>
